# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/

# Django collected static files
staticfiles/

# Environment variables / secrets
.env
.env.*

# Django local settings
local_settings.py

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/
